sudo: false
language: ruby
rvm:
- 2.0
- 2.1
- 2.2
matrix:
  include:
    - rvm: 1.9.3
      env: BUNTO_VERSION=2.5
env:
  matrix:
    - BUNTO_VERSION=2.5
    - BUNTO_VERSION=3.0
branches:
  only:
    - master
install:
- travis_retry script/bootstrap
script: script/cibuild
notifications:
  irc:
    on_success: change
    on_failure: change
    channels:
    - irc.freenode.org#bunto
    template:
    - '%{repository}#%{build_number} %{message} %{build_url}'
  email:
    on_success: never
    on_failure: change
